<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mini Message Board</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Create New User</h1>
    <form method="POST" action="/new">
      <div>
        <label for="user">User: </label>
        <input type="text" name="user" id="user" />
      </div>
      <div>
        <label for="message">Message:</label>
        <input type="text" name="message" id="message" />
      </div>
      <input type="submit" class="submit" />
    </form>
  </body>
</html>
