<!DOCTYPE html>
<html>
  <head>
    <title><%= message.username %> message></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
        <ul>
            <li>
                <h3><%= message.username %>:</h1>
                    <strong>Message</strong> : <%= message.message %>
                    <hr>
                    <strong>Added:</strong> <%= message.added %>
                    
                       <button>
                         <a class="buttonLink" href="/">Go back</a>
                       </button>
            </li>
        </ul>
     



  </body>
</html>